.container{
    height:70px;
    width:100%;
    background-color:#f2f2f2;
    position:sticky;
    top: 0;
  }

.icon-close{
    position: relative;
    top: 5px;
    right: -1100px;
}


#nicepage_logo{
    vertical-align:middle;
}

.responsive_images{
    position:relative;
    left: 35%;
    top: 15px;
  }

.pages_number{
    display: inline-block;
    position: relative;
    left: 20%;
    top: 0px;
  }

  
.header_pages{
    height:80px;
    width:100%;
    font-size:18px;}

#anchor_tag {
        padding:8px 20px;
        text-decoration:none;
        color: black;
      }

#logo1{
    position: relative;
    top:16px;
    left:140px;
}

.header_tag{
    text-transform:uppercase;
    font-size:30px;
    font-size:5rem;
}



#body_image {
    height: 100%;
    width: 100%;
    position: relative;
  }

.content {
    position:absolute;
    top:250px;
    left:650px;
    width:615px;
  }

.content > h1,
p {
  color:white;
}



.content > p {
  font-size: 1.25rem;
  margin:17px 0;
  line-height:1.6rem;
}

.content > h1 {
  margin: 30px 0;
}

.content > button {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 25px 0;
  height: 30px;
  width: 150px;
}

.Three_images {
    position: absolute;
    top: 750px;
    left: 200px;
    display: flex;
  }

  .imageone {
    margin: 40px;
    border: 20px solid white;
    border-bottom: 50px solid white;
  }
  
  .imagetwo {
    margin: 40px;
    border: 20px solid white;
    border-bottom: 50px solid white;
  }
  
  .imagethree {
    margin: 40px;
    border: 20px solid white;
    border-bottom: 50px solid white;
  }

  .image_one1 {
    position: relative;
  }
  
  .image_one1> h4 {
    position: relative;
    top: -100px;
    left: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .image_two2 > h4 {
    position: relative;
    top: -100px;
    left: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .image_three3 > h4 {
    position: relative;
    top: -100px;
    left: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  

  .footer1 {
    height: 150px;
    width: 100%;
    background-color: #333333;
    text-align: center;
  }
  
  .footer2 {
    height: 150px;
    width: 100%;
    background-color: #333333;
    text-align: center;
  }
  
  .footer1 > section {
    padding: 30px;
    color: #f2f2f2;
  }
  
.footer2 > section {
    color: #f2f2f2;
  }